body{
    background-color: black;
    color: white;
}

.card {
    display: flex;
    align-items: center;
    width: 270px; /* Adjust width as needed */
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(255,255,255,0.1);
    transition: transform 0.2s;
    background-color: black;
}

.card:hover {
    transform: scale(1.05);
}

.card a {
    display: flex; /* Flexbox inside the anchor to align image and text */
    align-items: center; /* Vertically center the items */
    text-decoration: none; /* Remove underline on anchor text */
    color: inherit; /* Inherit color for the text */
}

.card-img {
    width: 40px; /* Adjust width as needed */
    height: auto; /* Keep the original aspect ratio */
    object-fit: cover;
    margin-right: 10px;
}

.card-text {
    font-size: 18px;
    color: #fffdfd;
    margin: 0;
    line-height: 1.2;
}


table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 2px solid white; /* White borders for the table cells */
    padding: 12px;
    text-align: left;
    background-color: #000000; /* Background color for the table cells */
    color: white;
}

th {
    background-color: #000000; /* Different background color for the header */
}
